@charset "UTF-8";
div,p,body,header,footer,section,article,nav 
{ 
  /*! margin: 0; */ 
  padding: 0; 
} 

img 
{ 
  border: none;/
  margin: 0; 
  padding: 0; 
}


body 
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
  
  
}

a:link, a:visited 
{ 
  text-decoration:none;   
}

a:hover, a:active 
{ 
  text-decoration:none; 
}
#Container 
{
  justify-content:flex-start;
}

#logoHeader
{
 background-color: grey;
}
#mainheader {
    text-align: center;
}
#maintext h2 {
    
    line-height: 30px;
    letter-spacing: 2px;
    padding-left: 40px;
  font-family: 'Abril Fatface', cursive;
  font-size: 30px
}
#maintext p {
  align-content: space-between;
  line-height: 25px;
  font-family: 'Comfortaa', cursive;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 20px;
}
img.center {
    display: block;
    margin: 0 auto;
}
#about {
justify-content:flex-start;
}
#about h2 {
  align-content: space-between;
    line-height: 30px;
    letter-spacing: 2px;
    padding-left: 40px;
  font-family: 'Bree Serif', serif;
  font-size: 25px
   
}
#about p {
  align-content: space-between;
  line-height: 25px;
  font-family: 'Comfortaa', cursive;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 20px;
}
#ourbeer {

  line-height: 30px;
    letter-spacing: 2px;
    padding-left: 40px;
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
}
#imagesAndText {
  align-items: : flex-start;
}
#imagesAndText {
  justify-content: center;
}
#imagesAndText img {
  align-items: flex-start;
  padding-block: 20px;
  padding-left: 40px;


}

#imagesAndText ul {
  align-items: flex-start;
  font-family: 'Parisienne', cursive;
  font-size: 25px;
  padding-left: 60px;
}

#values {
  align-items: flex-start;

}
#values h2 {
  align-content: space-between;
    line-height: 30px;
    letter-spacing: 2px;
    padding-left: 40px;
  font-family: 'Bree Serif', serif;
  font-size: 25px;
}
#values h3 {
  align-content: space-between;
    line-height: 30px;
    letter-spacing: 2px;
    padding-left: 40px;
  font-family: 'Bree Serif', serif;
  font-size: 15px
}
#values p {
  align-content: space-between;
  line-height: 15px;
  font-family: 'Comfortaa', cursive;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 14px;

}
#contact h2 {
  align-content: space-between;
    line-height: 30px;
    letter-spacing: 2px;
    padding-left: 40px;
  font-family: 'Bree Serif', serif;
  font-size: 22px;
  padding-top: 40px;
}
#contact p {
align-content: space-between;
  line-height: 25px;
  font-family: 'Gupter', serif;
  padding-right: 500px;
  padding-left: 40px;
  font-size: 20px;
  padding-bottom: 40px;
}